# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

.vscode/

racon
benchmark
benchmark_simd_new
benchmark_simd_old
benchmark_sisd
benchmark_sisd_o2
src/test.cpp
racon.dSYM/

src/xsimd_alignment_engine.cpp
include/spoa/xsimd_alignment_engine.hpp